{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set showHealthchecks = showHealthchecks ?? false %}
{% set isActiveApiToken = apiTokenStatus is same as(apiTokenStatuses.active) ? true : false %}

{% set tabs = [
	{ label: "Monitors"|t('upsnap'), url: '#monitors-tab', class: 'sel' },
] %}

{% if showHealthchecks %}
	{% set tabs = tabs|merge([
		(isActiveApiToken and (settings.monitorId ?? false))
			? { label: "Notification Channels"|t('upsnap'), url: '#notification-channels-tab' }
			: { label: "Notification Channels"|t('upsnap'), url: '#notification-channels-tab', class: 'disabled-tab' }
	]) %}
{% endif %}

{% set tabs = tabs|merge([
    { label: "API Key"|t('upsnap'), url: '#api-tab' }
]) %}


{% block actionButton %}
	<div class="flex smallgap">
		<button id="save-button" type="submit" form="settings-form" class="btn submit">
			{{ "Save"|t('upsnap') }}
		</button>
	</div>
{% endblock %}
{% set apiTokenStatus = apiTokenStatus ?? 'expired' %}

{% set statusColorMap = {
    (apiTokenStatuses['active']): 'pill--green',
    (apiTokenStatuses['expired']): 'pill--red',
    (apiTokenStatuses['deleted']): 'pill--grey',
    (apiTokenStatuses['suspended']): 'pill--yellow'
} %}

{% set statusColorClass = statusColorMap[apiTokenStatus]|default('pill--grey') %}


{% block content %}
	{# inject server values for JS to consume - put this before monitor.js is loaded #}
	<script>
		window.Upsnap = window.Upsnap || {};
		window.Upsnap.settings = {
		monitoringUrl: {{ (settings.monitoringUrl ?? '')|json_encode|raw }},
			apiKey: {{ (showHealthchecks ?? '')|json_encode|raw }},
			isActiveApiToken: {{ (isActiveApiToken ?? '')|json_encode|raw }},
			apiTokenStatus: {{ (apiTokenStatus ?? 'unknown')|json_encode|raw }},
			apiTokenStatuses: {{ (apiTokenStatuses ?? 'unknown')|json_encode|raw }},
			userDetails: {{ userDetails|json_encode|raw }},
			subscriptionTypes : {{subscriptionTypes|json_encode|raw }}
		};
	</script>
		<div id="status-container-wrapper" data-page="reachability"></div>

		{# ====================== GENERAL TAB ====================== #}
		<div id="monitors-tab" class="tab-content">
		 	{% include "upsnap/_components/monitorsTable.twig" %}
			<input type="hidden" id="monitorId" name="monitorId" value="{{ settings.monitorId ?? '' }}">
			<input type="hidden" id="monitoringUrlInput" name="monitoringUrlInput" value="{{ settings.monitoringUrl ?? '' }}">
		</div>
		{% if settings.monitorId ?? false %}
			{% include "upsnap/_components/notificationChannels.twig" %}
		{% endif %}
		<form id="settings-form" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
			{{ csrfInput() }}
			{{ actionInput('upsnap/settings/save', { id: 'form-action-input' }) }}
			{{ redirectInput('upsnap/settings') }}
			{# <div id="status-container-wrapper" data-page="reachability"></div> #}
			<div id="api-tab" class="tab-content hidden">
				<div class="api-key-field-with-status">
					{{ forms.textField({
						label: "API Key"|t('upsnap'),
						instructions: "Enter the Upsnap API Key and save to enable Healthcheck settings. To access the API key, please visit the <a href='#{upsnapDashboardUrl}' target='_blank' rel='noopener noreferrer'>Upsnap Dashboard<span class='sr-only' style='position:absolute;left:-10000px;'> (opens in a new tab)</span></a>"|t('upsnap')|raw,
						id: 'apiKey',
						name: 'apiKey',
						type: 'text',
						value: settings.apiKey ?? '',
						placeholder: 'XXXX-XXXX-XXXX-XXXX',
						errors: settings.getErrors('apiKey') ?? false
					}) }}

					{% if showHealthchecks %}
						<span class="api-pill {{ statusColorClass }}">
							{{ apiTokenStatus|capitalize }}
						</span>
					{% endif %}
				</div>
			</div>
		</form>

{% endblock %}

{% block foot %}
	<script>
		window.CraftPageData = {
			title: {{ title|json_encode|raw }},
			monitorUrl: {{ settings.monitoringUrl|json_encode|raw }}
		};
	</script>
{% endblock %}
