{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% block actionButton %}
	<div class="buttons">
		{% set hasRegions = monitorData and monitorData.regions and monitorData.regions|length > 0 %}
		<div class="btngroup select region-selector-group" {% if not hasRegions %}title="Register to checkout region based monitoring"{% endif %}>
			<select id="regionDropdown" {% if not hasRegions %}class="disabled" disabled{% endif %}>
				{% if hasRegions %}
					{% for region in monitorData.regions %}
						<option value="{{ region.id }}" {% if region.is_primary %}selected{% endif %}>
							{{ region.name }}
						</option>
					{% endfor %}
				{% else %}
					<option>Select Region</option>
				{% endif %}
			</select>
		</div>
		<div class="btngroup">
			<button type="button" class="btn submit" data-icon="refresh" id="refresh-btn">
				{{ 'Refresh'|t('upsnap') }}
			</button>
		</div>
	</div>
{% endblock %}

{% block content %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script>

		window.CraftPageData = {
			title: {{ title|json_encode|raw }},
			monitorUrl: {{ url|json_encode|raw }},
			monitorId: {{ monitorId|json_encode|raw }},
			monitorData: {{ monitorData|json_encode|raw }},
			apiKey : {{ apiKey|json_encode|raw }},
			apiTokenStatus: {{ (apiTokenStatus ?? 'unknown')|json_encode|raw }},
			apiTokenStatuses: {{ (apiTokenStatuses ?? 'unknown')|json_encode|raw }},
			upsnapDashboardUrl: {{ (upsnapDashboardUrl ?? 'unknown')|json_encode|raw }},
		};
	</script>
	<div id="status-container-wrapper" data-page="dashboard"></div>
	{% if success == false %}

		{% set statusClass = 'warning' %}
		{% set containerClass = 'warning' %}

		{% include 'upsnap/_components/status-container.twig' %}
	{% else %}
		<div class="dashboard-wrapper">
			<div
				class="dashboard-left">
				<!-- ROW 1 -->
				<div class="monitor-grid">
					<div id="monitor-status-card" class="monitor-card skeleton"></div>
					<div id="monitor-last-check-card" class="monitor-card skeleton"></div>
					<div id="monitor-24h-card" class="monitor-card skeleton">
						<div class="card-header">Last 24 hours</div>
					</div>
				</div>

				<!-- ROW 2 (Uptime Stats) -->
				<div class="monitor-grid">
					<div id="uptime-day-card" class="monitor-card skeleton">
						<div class="card-header">Last 24h</div>
						<div class="card-skeleton">
							<div class="skeleton-line"></div>
							<div class="skeleton-line"></div>
						</div>
						<div class="card-content" hidden></div>
					</div>
					<div id="uptime-week-card" class="monitor-card skeleton">
						<div class="card-header">Last Week</div>
						<div class="card-skeleton">
							<div class="skeleton-line"></div>
							<div class="skeleton-line"></div>
						</div>
						<div class="card-content" hidden></div>
					</div>
					<div id="uptime-month-card" class="monitor-card skeleton">
						<div class="card-header">Last 30 Days</div>
						<div class="card-skeleton">
							<div class="skeleton-line"></div>
							<div class="skeleton-line"></div>
						</div>
						<div class="card-content" hidden></div>
					</div>
				</div>
				<!-- ROW 3 (Response Time Chart) -->
				<div id="response-time-card" class="response-time-chart">
					<div class="card-header response-card-header">
						<span>Response Time</span>
						<select id="responseTimeFilter" class="response-time-filter">
							<option value="last_hour">Last Hour</option>
							<option value="last_day">Last 24 Hours</option>
							<option value="last_week">Last 7 Days</option>
							<option value="last_month">Last 30 Days</option>
						</select>
					</div>
					<div class="response-chart-container">
						<div class="chart-loader" id="responseChartLoader"></div>
						<canvas id="responseChart"></canvas>
					</div>
				</div>
			</div>

			<div class="dashboard-right">
				<div id="upsnap-dashboard" class="dashboard-cards">
					<div id="reachability-card" class="stat-card skeleton">
						<div class="card-header">
							<h3>REACHABILITY</h3>
							<hr>
						</div>
						<div class="card-skeleton">
							<div class="skeleton-line"></div>
							<div class="skeleton-line"></div>
						</div>
						<div class="card-content" hidden></div>
					</div>


					<div id="ssl-card" class="stat-card skeleton">
						<div class="card-header">
							<h3>SECURITY CERTIFICATES</h3>
							<hr>
						</div>
						<div class="card-skeleton">
							<div class="skeleton-line"></div>
							<div class="skeleton-line"></div>
						</div>
						<div class="card-content" hidden></div>
					</div>

					<div id="broken-links-card" class="stat-card skeleton">
						<div class="card-header">
							<h3>BROKEN LINKS</h3>
							<hr>
						</div>
						<div class="card-skeleton">
							<div class="skeleton-line"></div>
							<div class="skeleton-line"></div>
						</div>
						<div class="card-content" hidden></div>
					</div>

					<div id="domain-check-card" class="stat-card skeleton">
						<div class="card-header">
							<h3>DOMAIN CHECK</h3>
							<hr>
						</div>
						<div class="card-skeleton">
							<div class="skeleton-line"></div>
							<div class="skeleton-line"></div>
						</div>
						<div class="card-content" hidden></div>
					</div>

					<div id="mixed-content-card" class="stat-card skeleton">
						<div class="card-header">
							<h3>MIXED CONTENT</h3>
							<hr>
						</div>
						<div class="card-skeleton">
							<div class="skeleton-line"></div>
							<div class="skeleton-line"></div>
						</div>
						<div class="card-content" hidden></div>
					</div>

					<div id="lighthouse-card" class="stat-card skeleton">
						<div class="card-header">
							<h3>LIGHTHOUSE</h3>
							<hr>
						</div>
						<div class="card-skeleton">
							<div class="skeleton-line"></div>
							<div class="skeleton-line"></div>
						</div>
						<div class="card-content" hidden></div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
