{% if data.status == 'ok' %}
	<div class="pane">
		<div class="meta read-only">
			<div class="data fullwidth">
				<div class="field">
					<div class="heading">{{ "Monitored URL"|t('upsnap') }}</div>
					<div>
						<a href="{{ data.url }}" target="_blank">{{ data.url }}</a>
					</div>
				</div>

				<div class="field">
					<div class="heading">{{ "Last Checked"|t('upsnap') }}</div>
					<div>{{ data.checkedAt|date("d M Y, H:i:s") }}</div>
				</div>

				<div class="field">
					<div class="heading">{{ "Response Time"|t('upsnap') }}</div>
					<div>{{ data.duration ?? '–' }}</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}