{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set monitor = monitor ?? null %}
{% set mode = mode ?? 'add' %}

{% set crumbs = [
    { html: "<a href='" ~ url('upsnap') ~ "' class='thumb cp-icon'><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' focusable='false' aria-hidden='true'><path d='M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z'></path></svg></a>" },
    { label: 'Settings', url: url('upsnap/settings')}
] %}

{% set defaultIntervals = [
    { label: '1m', value: 1, unit: 'minute' },
    { label: '5m', value: 5, unit: 'minute' },
    { label: '30m', value: 30, unit: 'minute' },
    { label: '1h', value: 1, unit: 'hour' },
    { label: '12h', value: 12, unit: 'hour' },
    { label: '24h', value: 24, unit: 'hour' }
] %}


{% set lighthouseIntervals = [
    { label: '1d', value: 1, unit: 'day' },
    { label: '2d', value: 2, unit: 'day' },
    { label: '5d', value: 5, unit: 'day' },
    { label: '7d', value: 7, unit: 'day' },
    { label: '10d', value: 10, unit: 'day' }
] %}


{% set MIN_MONITOR_INTERVAL_SECONDS =
    userDetails
    and userDetails.plan_limits is defined
    and userDetails.plan_limits.min_monitoring_interval is defined
    and userDetails.plan_limits.min_monitoring_interval > 0
        ? userDetails.plan_limits.min_monitoring_interval * 60
        : 300
%}

{# 5 min for now #}
{% set MAX_MONITOR_INTERVAL_SECONDS = 86400 %}


{% block content %}

	<form method="post" accept-charset="UTF-8">
		{{ csrfInput() }}

		{% if mode == 'edit' %}
			{{ hiddenInput('monitorId', monitor ? monitor.id : null) }}
		{% endif %}

		<div class="flex">
			<div class="flex-grow" style="margin-right: 20px;">
				{{ forms.textField({
                label: "Monitor Name",
                id: "name",
                name: "name",
                value: monitor ? monitor.name : "",
                required: true,
                errors: []
            }) }}
			</div>

			<div class="flex-grow">
				{{ forms.textField({
                label: "URL",
                id: "url",
                name: "url",
                placeholder: "https://example.com",
                value: monitor ? monitor.url : "https://",
                required: true,
                errors: []
            }) }}
			</div>
		</div>

		<div id="notification-channels-accordion" class="field">
			<div class="heading">
				<button type="button" id="integrations-trigger" class="accordion-trigger" aria-expanded="false" aria-controls="notification-channels-content">
					<span class="accordion-arrow"></span>
					<span>How would you like to get notified?</span>
				</button>
			</div>

			<div id="notification-channels-content" class="accordion-content hidden">
				<div class="spinner hidden" id="channels-loading-spinner"></div>
				<div id="no-channels-msg" class="hidden">
					No Integration Channels available. Please create them from Integrations.
				</div>

				<table class="data fullwidth" id="channels-table" style="display:none;">
					<thead>
						<tr>
							<th class="thin"><input type="checkbox" id="select-all-channels"></th>
							<th>Name</th>
							<th>Channel Type</th>
						</tr>
					</thead>
					<tbody id="channels-tbody"></tbody>
				</table>
			</div>
		</div>


		<div id="advanced-settings-accordion" class="field">
			<div class="heading">
				<button type="button" id="settings-accordion" class="accordion-trigger" aria-expanded="false" aria-controls="notification-channels-content">
					<span class="accordion-arrow"></span>
					<span>Advanced Settings</span>
				</button>
			</div>

			<div id="advanced-settings-content" class="accordion-content hidden">
				{{ forms.lightswitchField({
                    label: "Enable Monitoring",
                    id: "enabled",
                    name: "enabled",
                    on: monitor ? (monitor.enabled ?? true) : true
                }) }}


				<div id="advanced-settings" style="{% if not (monitor ? (monitor.enabled ?? false) : false) %}display:none;{% endif %}">
					<h3 id="healthcheck-settings-title" class="heading">Healthcheck Settings</h3>
					<hr>

					{# ------------ ROW 1 ------------ #}
					<div class="healthcheck-row-grid">
						<div class="healthcheck-section">
							{{ forms.lightswitchField({
                                label: "Reachability Check"|t('upsnap'),
                                instructions: "Monitor if the site is reachable"|t('upsnap'),
                                id: 'reachabilityEnabled',
                                name: 'reachabilityEnabled',
                                on: monitor ? (monitor.reachabilityEnabled ?? true) : true,
                            }) }}

							<div class="nested-settings-inline" id="reachability-settings">
								{% include 'upsnap/_components/interval-slider.twig' with {
                                    id: 'reachability',
                                    name: 'reachabilityMonitoringInterval',
                                    value: monitor ? (monitor.reachabilityMonitoringInterval ?? 300) : 300,
                                    partitions: defaultIntervals,
                                    minMonitorIntervalSeconds: MIN_MONITOR_INTERVAL_SECONDS
                                } %}
							</div>
						</div>

						<div class="healthcheck-section">
							{{ forms.lightswitchField({
                                label: "Broken Links Check"|t('upsnap'),
                                instructions: "Monitor for broken links on your site"|t('upsnap'),
                                id: 'brokenLinksEnabled',
                                name: 'brokenLinksEnabled',
                                on: monitor ? (monitor.brokenLinksEnabled ?? true) : true,
                            }) }}

							<div class="nested-settings-inline" id="brokenLinks-settings">
								{% include 'upsnap/_components/interval-slider.twig' with {
                                    id: 'brokenLinks',
                                    name: 'brokenLinksMonitoringInterval',
                                    value: monitor ? (monitor.brokenLinksMonitoringInterval ?? 300) : 300,
                                    partitions: defaultIntervals,
                                    minMonitorIntervalSeconds: MIN_MONITOR_INTERVAL_SECONDS
                                } %}
							</div>
						</div>
					</div>

					{# ------------ ROW 2 ------------ #}
					<div class="healthcheck-row-grid">
						<div class="healthcheck-section http-disabled">
							{{ forms.lightswitchField({
                                label: "Mixed Content Check"|t('upsnap'),
                                instructions: "Monitor for mixed content issues"|t('upsnap'),
                                id: 'mixedContentEnabled',
                                name: 'mixedContentEnabled',
                                on: monitor ? (monitor.mixedContentEnabled ?? true) : true,
                            }) }}
							<div class="nested-settings-inline" id="mixedContent-settings" {% if not (monitor ? (monitor.mixedContentEnabled ?? true) : true) %} style="display:none;" {% endif %}>
								{% include 'upsnap/_components/interval-slider.twig' with {
                                    id: 'mixedContent',
                                    name: 'mixedContentMonitoringInterval',
                                    value: monitor ? (monitor.mixedContentMonitoringInterval ?? 300) : 300,
                                    partitions: defaultIntervals,
                                    minMonitorIntervalSeconds: MIN_MONITOR_INTERVAL_SECONDS
                                } %}
							</div>

						</div>

						<div class="healthcheck-section">
							{{ forms.lightswitchField({
                                label: "Domain Expiry Check"|t('upsnap'),
                                id: 'domainEnabled',
                                name: 'domainEnabled',
                                on: monitor ? (monitor.domainEnabled ?? true) : true,
                            }) }}

							<div class="nested-settings-inline" id="domain-settings">
								{% include 'upsnap/_components/interval-slider.twig' with {
                                    id: 'domain',
                                    name: 'domainMonitoringInterval',
                                    value: monitor ? (monitor.domainMonitoringInterval ?? 300) : 300,
                                    partitions: defaultIntervals,
                                    minMonitorIntervalSeconds: MIN_MONITOR_INTERVAL_SECONDS
                                } %}
								{{ forms.selectField({
                                    label: "Days Before Expiry"|t('upsnap'),
                                    id: 'domainExpiryDays',
                                    name: 'domainDaysBeforeExpiryAlert',
                                    options: expiryDayOptions,
                                    value: monitor ? (monitor.domainDaysBeforeExpiryAlert ?? "30") : "30"
                                }) }}

							</div>
						</div>
					</div>

					{# ------------ ROW 3 ------------ #}
					<div class="healthcheck-row-grid">
						<div class="healthcheck-section  http-disabled">
							{{ forms.lightswitchField({
                                label: "SSL Certificate Check"|t('upsnap'),
                                id: 'sslEnabled',
                                name: 'sslEnabled',
                                on: monitor ? (monitor.securityCertificatesEnabled ?? true) : true,
                            }) }}

							<div class="nested-settings-inline" id="ssl-settings">
                                {% include 'upsnap/_components/interval-slider.twig' with {
                                    id: 'securityCertificates',
                                    name: 'securityCertificatesMonitoringInterval',
                                    value: monitor ? (monitor.securityCertificatesMonitoringInterval ?? 300) : 300,
                                    partitions: defaultIntervals,
                                    minMonitorIntervalSeconds: MIN_MONITOR_INTERVAL_SECONDS
                                } %}
								{{ forms.selectField({
                                    label: "Days Before Expiry"|t('upsnap'),
                                    id: 'sslExpiryDays',
                                    name: 'sslDaysBeforeExpiryAlert',
                                    options: expiryDayOptions,
                                    value: monitor ? (monitor.sslDaysBeforeExpiryAlert ?? "30") : "30"
                                }) }}

							</div>
						</div>

						<div class="healthcheck-section http-disabled"
                        	data-disabled-reason="{{ 'These checks are not available for non HTTPS URLs.'|t('upsnap') }}"
>
							{{ forms.lightswitchField({
                                label: "Lighthouse Performance Check"|t('upsnap'),
                                instructions: "Monitor site performance"|t('upsnap'),
                                id: 'lighthouseEnabled',
                                name: 'lighthouseEnabled',
                                on: monitor ? (monitor.lighthouseEnabled ?? false) : true,
                            }) }}

							<div class="nested-settings-inline" id="lighthouse-settings">

                                {% include 'upsnap/_components/interval-slider.twig' with {
                                    id: 'lighthouse',
                                    name: 'lighthouseMonitoringInterval',
                                    value: monitor ? (monitor.lighthouseMonitoringInterval ?? 86400) : 7 * 86400,
                                    partitions: lighthouseIntervals,
                                    minMonitorIntervalSeconds: 86400
                                } %}

								{{ forms.selectField({
                                    label: "Strategy Type"|t('upsnap'),
                                    id: 'lighthouseStrategy',
                                    name: 'lighthouseStrategy',
                                    options: strategyOptions,
                                    value: monitor ? (monitor.lighthouseStrategy ?? 'desktop') : 'desktop',
                                }) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="monitor-form-actions">
		<button class="btn submit" id="save-monitor">
			{{ mode == 'add' ? "Create Monitor" : "Save Changes" }}
		</button>
	</div>

	<script>
		window.preSelectedChannelIds = {{ monitor ? monitor.channelIds|json_encode|raw : '[]' }};
        window.CraftPageData = {
            title: {{ title|json_encode|raw }},
            monitorForm: true,
            monitorData: {{ monitor ? monitor|json_encode|raw : 'null' }},
            minMonitorIntervalSeconds: {{ MIN_MONITOR_INTERVAL_SECONDS }}
        };
	</script>
{% endblock %}
