{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set monitor = monitor ?? null %}
{% set mode = mode ?? 'add' %}

{% set crumbs = [
    { label: 'Settings', url: url('upsnap/settings') },
] %}


{% set INTERVAL_PARTITIONS = [
    { label: '30s', seconds: 30 },
    { label: '1m', seconds: 60 },
    { label: '5m', seconds: 300 },
    { label: '30m', seconds: 1800 },
    { label: '1h', seconds: 3600 },
    { label: '12h', seconds: 43200 },
    { label: '24h', seconds: 86400 },
] %}

{% set MIN_MONITOR_INTERVAL_SECONDS =
    userDetails
    and userDetails.plan_limits is defined
    and userDetails.plan_limits.min_monitoring_interval is defined
    and userDetails.plan_limits.min_monitoring_interval > 0
        ? userDetails.plan_limits.min_monitoring_interval * 60
        : 300
%}

{# 5 min for now #}
{% set MAX_MONITOR_INTERVAL_SECONDS = 86400 %}


{% block content %}

	<form method="post" accept-charset="UTF-8">
		{{ csrfInput() }}

		{% if mode == 'edit' %}
			{{ hiddenInput('monitorId', monitor ? monitor.id : null) }}
		{% endif %}

		<div class="flex">
			<div class="flex-grow" style="margin-right: 20px;">
				{{ forms.textField({
                label: "Monitor Name",
                id: "name",
                name: "name",
                value: monitor ? monitor.name : "",
                required: true,
                errors: []
            }) }}
			</div>

			<div class="flex-grow">
				{{ forms.textField({
                label: "URL",
                id: "url",
                name: "url",
                placeholder: "https://example.com",
                value: monitor ? monitor.url : "https://",
                required: true,
                errors: []
            }) }}
			</div>
		</div>

		<div id="notification-channels-accordion" class="field">
			<div class="heading">
				<button type="button" id="integrations-trigger" class="accordion-trigger" aria-expanded="false" aria-controls="notification-channels-content">
					<span class="accordion-arrow"></span>
					<span>How would you like to get notified?</span>
				</button>
			</div>

			<div id="notification-channels-content" class="accordion-content hidden">
				<div class="spinner hidden" id="channels-loading-spinner"></div>
				<div id="no-channels-msg" class="hidden">
					No Integration Channels available. Please create them from Integrations.
				</div>

				<table class="data fullwidth" id="channels-table" style="display:none;">
					<thead>
						<tr>
							<th class="thin"><input type="checkbox" id="select-all-channels"></th>
							<th>Name</th>
							<th>Channel Type</th>
						</tr>
					</thead>
					<tbody id="channels-tbody"></tbody>
				</table>
			</div>
		</div>


		<div id="advanced-settings-accordion" class="field">
			<div class="heading">
				<button type="button" id="settings-accordion" class="accordion-trigger" aria-expanded="false" aria-controls="notification-channels-content">
					<span class="accordion-arrow"></span>
					<span>Advanced Settings</span>
				</button>
			</div>

			<div id="advanced-settings-content" class="accordion-content hidden">
				{{ forms.lightswitchField({
                    label: "Enable Monitoring",
                    id: "enabled",
                    name: "enabled",
                    on: monitor ? (monitor.enabled ?? true) : true
                }) }}


				<div id="advanced-settings" style="{% if not (monitor ? (monitor.enabled ?? false) : false) %}display:none;{% endif %}">
					<h3 id="healthcheck-settings-title" class="heading">Healthcheck Settings</h3>
					<hr>

					{# ------------ ROW 1 ------------ #}
					<div class="healthcheck-row-grid">
						<div class="healthcheck-section">
							{{ forms.lightswitchField({
                                label: "Reachability Check"|t('upsnap'),
                                instructions: "Monitor if the site is reachable"|t('upsnap'),
                                id: 'reachabilityEnabled',
                                name: 'reachabilityEnabled',
                                on: monitor ? (monitor.reachabilityEnabled ?? true) : true,
                            }) }}

							<div class="nested-settings-inline" id="reachability-settings">
								{% include 'upsnap/_components/interval-slider.twig' with {
                                    id: 'reachability',
                                    name: 'reachabilityMonitoringInterval',
                                    value: monitor ? (monitor.reachabilityMonitoringInterval ?? 300) : 300
                                } %}
							</div>
						</div>

						<div class="healthcheck-section">
							{{ forms.lightswitchField({
                                label: "Broken Links Check"|t('upsnap'),
                                instructions: "Monitor for broken links on your site"|t('upsnap'),
                                id: 'brokenLinksEnabled',
                                name: 'brokenLinksEnabled',
                                on: monitor ? (monitor.brokenLinksEnabled ?? true) : true,
                            }) }}

							<div class="nested-settings-inline" id="brokenLinks-settings">
								{% include 'upsnap/_components/interval-slider.twig' with {
                                    id: 'brokenLinks',
                                    name: 'brokenLinksMonitoringInterval',
                                    value: monitor ? (monitor.brokenLinksMonitoringInterval ?? 300) : 300
                                } %}
							</div>
						</div>
					</div>

					{# ------------ ROW 2 ------------ #}
					<div class="healthcheck-row-grid">
						<div class="healthcheck-section">
							{{ forms.lightswitchField({
                                label: "Mixed Content Check"|t('upsnap'),
                                instructions: "Monitor for mixed content issues"|t('upsnap'),
                                id: 'mixedContentEnabled',
                                name: 'mixedContentEnabled',
                                on: monitor ? (monitor.mixedContentEnabled ?? true) : true,
                            }) }}
							<div class="nested-settings-inline" id="mixedContent-settings" {% if not (monitor ? (monitor.mixedContentEnabled ?? true) : true) %} style="display:none;" {% endif %}>
								{% include 'upsnap/_components/interval-slider.twig' with {
                                    id: 'mixedContent',
                                    name: 'mixedContentMonitoringInterval',
                                    value: monitor ? (monitor.mixedContentMonitoringInterval ?? 300) : 300
                                } %}
							</div>

						</div>

						<div class="healthcheck-section">
							{{ forms.lightswitchField({
                                label: "Domain Expiry Check"|t('upsnap'),
                                id: 'domainEnabled',
                                name: 'domainEnabled',
                                on: monitor ? (monitor.domainEnabled ?? true) : true,
                            }) }}

							<div class="nested-settings-inline" id="domain-settings">
								{% include 'upsnap/_components/interval-slider.twig' with {
                                    id: 'domain',
                                    name: 'domainMonitoringInterval',
                                    value: monitor ? (monitor.domainMonitoringInterval ?? 300) : 300
                                } %}
								{{ forms.selectField({
                                    label: "Days Before Expiry"|t('upsnap'),
                                    id: 'domainExpiryDays',
                                    name: 'domainDaysBeforeExpiryAlert',
                                    options: expiryDayOptions,
                                    value: monitor ? (monitor.domainDaysBeforeExpiryAlert ?? "30") : "30"
                                }) }}

							</div>
						</div>
					</div>

					{# ------------ ROW 3 ------------ #}
					<div class="healthcheck-row-grid">
						<div class="healthcheck-section">
							{{ forms.lightswitchField({
                                label: "SSL Certificate Check"|t('upsnap'),
                                id: 'sslEnabled',
                                name: 'sslEnabled',
                                on: monitor ? (monitor.securityCertificatesEnabled ?? true) : true,
                            }) }}

							<div class="nested-settings-inline" id="ssl-settings">
								{% include 'upsnap/_components/interval-slider.twig' with {
                                    id: 'securityCertificates',
                                    name: 'securityCertificatesMonitoringInterval',
                                    value: monitor ? (monitor.securityCertificatesMonitoringInterval ?? 300) : 300
                                } %}
								{{ forms.selectField({
                                    label: "Days Before Expiry"|t('upsnap'),
                                    id: 'sslExpiryDays',
                                    name: 'sslDaysBeforeExpiryAlert',
                                    options: expiryDayOptions,
                                    value: monitor ? (monitor.sslDaysBeforeExpiryAlert ?? "30") : "30"
                                }) }}

							</div>
						</div>

						<div class="healthcheck-section">
							{{ forms.lightswitchField({
                                label: "Lighthouse Performance Check"|t('upsnap'),
                                instructions: "Monitor site performance"|t('upsnap'),
                                id: 'lighthouseEnabled',
                                name: 'lighthouseEnabled',
                                on: monitor ? (monitor.lighthouseEnabled ?? false) : true,
                            }) }}

							<div class="nested-settings-inline" id="lighthouse-settings">

								{% include 'upsnap/_components/interval-slider.twig' with {
                                    id: 'lighthouse',
                                    name: 'lighthouseMonitoringInterval',
                                    value: monitor ? (monitor.lighthouseMonitoringInterval ?? 300) : 300
                                } %}

								{{ forms.selectField({
                                    label: "Strategy Type"|t('upsnap'),
                                    id: 'lighthouseStrategy',
                                    name: 'lighthouseStrategy',
                                    options: strategyOptions,
                                    value: monitor ? (monitor.lighthouseStrategy ?? 'desktop') : 'desktop',
                                }) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="monitor-form-actions">
		<button class="btn submit" id="save-monitor">
			{{ mode == 'add' ? "Create Monitor" : "Save Changes" }}
		</button>
	</div>

	<script>
		window.preSelectedChannelIds = {{ monitor ? monitor.channelIds|json_encode|raw : '[]' }};
window.CraftPageData = {
title: {{ title|json_encode|raw }},
monitorForm: true,
minMonitorIntervalSeconds: {{ MIN_MONITOR_INTERVAL_SECONDS }}
};
	</script>
{% endblock %}
