{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { html: "<a href='" ~ url('upsnap') ~ "' class='thumb cp-icon'><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' focusable='false' aria-hidden='true'><path d='M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z'></path></svg></a>" },
] %}
{% set isActiveApiToken = apiTokenStatus is same as(apiTokenStatuses.active) ? true : false %}

{% block actionButton %}
	{% if isActiveApiToken %}
		<div class="buttons">
			<div class="btngroup">
				<button type="button" class="btn submit add icon" data-icon="add" id="add-status-page-btn" onclick="window.location.href='{{ url('upsnap/status-page/new') }}'">
					{{ 'Add Status Page'|t('upsnap') }}
				</button>
			</div>
		</div>
	{% endif %}
{% endblock %}


{% block content %}
	<script>
		window.Upsnap = {
apiKey: {{ apiKey|json_encode|raw }},
upsnapDashboardUrl: {{ (upsnapDashboardUrl ?? 'unknown')|json_encode|raw }},
upsnapStatsPageUrl: {{ (upsnapStatsPageUrl ?? 'unknown')|json_encode|raw }},
userDetails: {{ userDetails|json_encode|raw }}
};
	</script>
	{% if not isActiveApiToken %}
		<div class="status-container warning">
			<div class="status-header">
				<div class="status-icon warning">!</div>
				<h3 class="status-title">
					{{ 'Need to register for this feature. Your status pages will look like this once registered.'|t('upsnap') }}
				</h3>
			</div>
			<p class="status-message-dashboard">
				<a href="{{ upsnapDashboardUrl }}/signup" class="status-link">Register</a>
				{{ 'to activate this feature and get a public status page accessible via a shareable link.'|t('upsnap') }}
			</p>
		</div>
		<p>Example Status Page</p>
		<div class="zilch register-message">
			<img class="status-page-image" src="{{ view.getAssetManager().getPublishedUrl( '@appfoster/upsnap/../resources/images/status-page-placeholder.png', true ) }}" alt="Status page placeholder"/>
			<img class="status-page-image" src="{{ view.getAssetManager().getPublishedUrl( '@appfoster/upsnap/../resources/images/status-detail-page-placeholder.png', true ) }}" alt="Status page placeholder"/>

		</div>
	{% else %}
		<div id="status-pages-wrapper">
			<div class="loader-overlay">
				<div class="spinner big" id="status-pages-loader"></div>
			</div>

			<table class="data fullwidth hidden" id="status-pages-table">
				<thead>
					<tr>
						<th>{{ 'Name'|t('upsnap') }}</th>
						<th>{{ 'Status'|t('upsnap') }}</th>
						<th class="thin">{{ 'Actions'|t('upsnap') }}</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>

			<div class="zilch hidden" id="status-pages-empty">
				<p>{{ 'No status pages found.'|t('upsnap') }}</p>
			</div>
		</div>
	{% endif %}
{% endblock %}
